<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar"
  style="background-image:url(../assets/images/background/fondo-hosp-login.jpg); width: '2500px'; height: '1413px';">
  <div class="login-box card">
    <div class="card-body">

      <form class="form-horizontal form-material"
            id="loginform"
            autocomplete="off"
            [formGroup]="registerForm"
            (ngSubmit)="crearUsuario()"
      >

        <a href="javascript:void(0)" class="text-center db"><img src="../assets/images/icon.png" alt="Home" /><br /><img
            src="../assets/images/hospital-app-sin-fondo.png" alt="Home" /></a>
        <h3 class="box-title m-t-40 m-b-0">Registrate Ahora</h3><small>Crea una cuenta</small>
        <div class="form-group m-t-20">
          <div class="col-xs-12">
            <input class="form-control"
                  type="text"
                  placeholder="Nombre"
                  formControlName="nombre"
                >
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control"
                  type="text"
                  placeholder="Correo"
                  formControlName="email"
                >
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control"
                  type="password"
                  placeholder="Contraseña"
                  formControlName="password"
                >
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control"
                  type="password"
                  placeholder="Confirmar Contraseña"
                  formControlName="password2"
                >
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <div class="checkbox checkbox-primary p-t-0">
              <input id="checkbox-signup"
                    type="checkbox"
                    formControlName="terminos"
                  >
              <label for="checkbox-signup"> Estoy de acuerdo <a href="#">Términos y Condiciones</a></label>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col text-danger">

            <p *ngIf="campoNoValido('nombre')" > *El nombre es obligatorio</p>
            <p *ngIf="campoNoValido('email')" > *El correo es obligatorio y debe ser válido </p>
            <p *ngIf="contrasenasNoValidas()" > *Las contraseñas debe ser iguales </p>
            <p *ngIf="aceptaTerminos()" > *Debe aceptar los términos y condiciones </p>

          </div>
        </div>


        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
              type="submit">Registrarse</button>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p>Ya tienes una cuenta? <a routerLink="/login" class="text-info m-l-5"><b>Inicia sesión</b></a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
