.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
}

#themecolors .selector {
  cursor: pointer;
}

.cursor {
  cursor: pointer;
}

.img-avatar{
  height: 300px;
  width: 300px;
}
